/* Dark mode colors. */
:root {
	--sl-color-accent-low: #331f00;
	--sl-color-accent: #8e5f00;
	--sl-color-accent-high: #ebc186;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f2ede8;
	--sl-color-gray-2: #c7c1bc;
	--sl-color-gray-3: #958980;
	--sl-color-gray-4: #61564d;
	--sl-color-gray-5: #40362e;
	--sl-color-gray-6: #2e251d;
	--sl-color-black: #1c1714;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #f2d1a6;
	--sl-color-accent: #916100;
	--sl-color-accent-high: #462c00;
	--sl-color-white: #1c1714;
	--sl-color-gray-1: #2e251d;
	--sl-color-gray-2: #40362e;
	--sl-color-gray-3: #61564d;
	--sl-color-gray-4: #958980;
	--sl-color-gray-5: #c7c1bc;
	--sl-color-gray-6: #f2ede8;
	--sl-color-gray-7: #f8f6f4;
	--sl-color-black: #ffffff;
}
